extends layout

block content
  a(href="http://yo-express2.azurewebsites.net/") Deployed to Microsoft Azure
  a(href="http://yo-express.azurewebsites.net/") Deployed to Microsoft Azure 2
  h2= title
  p Welcome to #{title}
  a(href="https://github.com/AftabAnsari10662/yo-express.git") GitHubUrl